# Copyright 2022 June Hanabi
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
# 	http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Discord Developer public and private IDs
#

BOT_TOKEN=
BOT_PERMISSIONS=
BOT_CLIENT_ID=
BOT_CLIENT_SECRET=

APP_ID=
PUBLIC_KEY=

#
# Disboard Setup
#

DISBOARD_BOT_ID=302050872383242240
DISBOARD_BUMP_COMMAND=bump

#
# Bot Settings
#

MESSAGE_FETCH_AMOUNT=7
SIMPLE_BUMP_SUFFIX=bumped the server
BUMP_MESSAGE_PREFIX=> Next bump
NOTIFY_MESSAGE_PREFIX=It's time to bump:
TICK_FREQ=60

#
# Bot Folders
#

APP_FOLDER=app
COMMANDS_FOLDER=commands
EVENTS_FOLDER=events
MEDIA_FOLDER=media
STORAGE_FOLDER=storage

#
# Bot Message Colors
#

EMBED_COLOR=AB47BC
ERROR_COLOR=F44336
SUCCESS_COLOR=4CAF50

#
# Bot Invite URL
#

# Authroize URL
# https://discord.com/api/oauth2/authorize?client_id=&permissions=&scope=
